
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=7b24bee94ff34f6c0fbafbbd345533d3
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
